
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<p># 1 Profilim Sayfası</p>
<p>#<del> 2 Tüm Sayfalarda Paging işlemi</del></p>
<p>#<del> 3 Mesajlarda session </del></p>
<p># 4 Oturum yönetiminin mimariye taşınması</p>
<p># 5 Token kullanımı</p>

